body{
	margin: 0px;
	padding: none;
	border:none;
	background-image: url('../img/logos.jpg');
	background-size: 1800px 1100px;
	background-repeat: no-repeat;
	position: absolute;
	
}

header{
	position: fixed;
	padding:none;
	margin: none;
	width:100%;
	background:black;
	opacity: 90%;
}

h1{
	border: 20px;
	margin-left:80px;
	margin-top:-90px;
	position: absolute;
	color:gold;
	padding: 0px 0px 90px 50px;
	font-style: italic;
	font-size:50px;
}

ul.login{
	position:relative;
	margin-left:1000px;
	       
}

.login li{ 
	padding:4px; 
	color: grey;
	display:block;
	border:none;
	margin-top:-60px;
}
/*
#go{

	color:red;
	display: inline-block;
	padding: 100px;
	margin: none;
	border: none;
}

menu.ul{
	position: relative;
	padding:10px;
	margin-right: -10px;
}
/*
a#set{
	color: red;

}*/

.menu li,a{
	color:white;
	font-size: 20px;
	text-decoration: none;
	margin-right: 15px;
	margin-bottom: 80px;

	padding-left: 0px;
	display: inline;
	}

.menu a:hover{
	font-size:30px;
	color: gold;
}
/*#a,#b,#c,#d{
	width: 150px;
	margin-right: 20p
	height: 100px;
}*/
main{
	margin-left:-50px;
	padding-top: 150px;
}

#logo{
	padding:20px 0 10px 10px;
	width: 100px;
	height: 100px;
}

#a,#b,#c,#d,#e,#f{
	height: 210px;
	width: 420px;
	display: grid;
}

p{color: gold;}
.grid_3{
	padding-top: 55px;
	padding-left: 55px;
}
.grid_2{
	padding-top: 25px;
	padding-left: 55px;
}
.grid_1{
	padding-top: 75px;
	padding-left: 55px;
	margin-left: 180px;
}
aside{
	float: right;
	margin-top: -800px;
	text-decoration: underline;
	font-size: 30px;

}

/* footer style*/

.footer {
  position: absolute;
  padding-top:10px;
  margin-top: 100px;
  right: 0px;
  left:0px;
  top:1000px;
  width:1290px;
  height:50px;
  background-color: grey;
  color: white;
  
}
.fa {
  padding-top:2px;
  font-size: 20px;
  width: 200px;
  float:right;
  text-decoration: none;
  margin: none;

}